body, html {
  height: 100%;
  width: 100%;
}



.lead {
  font-size: 18px;
  font-weight: 400;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 5em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}



@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.content-section-b {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  border-top: 3px solid #e7e7e7;
  width: 200px;
  float: left;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  } 
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  } 
}

footer {
  background-color: #f8f8f8;
  padding: 50px 0;
}

p.copyright {
  margin: 15px 0 0;
}
.entrar{
  margin: 10px;
}
.body2{
    background: url(http://mymaplist.com/img/parallax/back.png);
  background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-40{
    padding-top: 40px;
}
.vertical-offset-20{
    padding-top: 20px;
}
.vertical-offset-100{
    padding-top: 100px;
}
.right-40{
  padding-left: 32%;
}
.page-content > .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-top: 30px;
}
/* Navbar */
.navbar-default-custom {
  background-color: #ffffff;
  border-color: #06a2cb;
}

.navbar-default-custom {
  background-color: #ffffff;
  border-color: #e7e7e7;
  border: 2px solid #5CB85C;
}

.navbar-default-custom .navbar-brand {
  color: #777777;
}

.navbar-default-custom .navbar-brand:hover,
.navbar-default-custom .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default-custom .navbar-text {
  color: #777777;
}

.navbar-default-custom .navbar-nav > li > a {
  color: #777777;
}

.navbar-default-custom .navbar-nav > li > a:hover,
.navbar-default-custom .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}

.navbar-default-custom .navbar-nav > .active > a,
.navbar-default-custom .navbar-nav > .active > a:hover,
.navbar-default-custom .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

.navbar-default-custom .navbar-nav > .disabled > a,
.navbar-default-custom .navbar-nav > .disabled > a:hover,
.navbar-default-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-default-custom .navbar-toggle {
  border-color: #dddddd;
}

.navbar-default-custom .navbar-toggle:hover,
.navbar-default-custom .navbar-toggle:focus {
  background-color: #dddddd;
}

.navbar-default-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

.navbar-default-custom .navbar-collapse,
.navbar-default-custom .navbar-form {
  border-color: #e7e7e7;
}

.navbar-default-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-default-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.navbar-default-custom .navbar-nav > .open > a,
.navbar-default-custom .navbar-nav > .open > a:hover,
.navbar-default-custom .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

.navbar-default-custom .navbar-nav > .open > a .caret,
.navbar-default-custom .navbar-nav > .open > a:hover .caret,
.navbar-default-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.navbar-default-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

@media (max-width: 767px) {
  .navbar-default-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-default-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-default-custom .navbar-link {
  color: #777777;
}

.navbar-default-custom .navbar-link:hover {
  color: #333333;
}

.navbar-fixed-top-custom,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar-fixed-top-custom,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}

.navbar-fixed-top-custom {
  top: 0;
  border-width: 0 0 5px;
}
.sizeLG{
  margin-top: 70px;
}
.sizeMD{
  margin-top: 70px;
}
.sizeSM{
  margin-top: 80px;
}
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
  border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
  border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
  border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
  border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
  border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
  border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
  border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
  border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
  border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
  border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
  border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
  border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
  border-left: 10px solid #269abc;
}
.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}


.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }



/*   Secretary info schools/_secretary.html.erb */
.media{
  /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}
.dp{
    border:10px solid #eee;
    transition: all 0.2s ease-in-out;
}
.dp:hover{
  border:2px solid #eee;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);  
  -webkit-transform:rotate(360deg);  
  /*-webkit-font-smoothing:antialiased;*/
}