<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <ul class="list-group">
          <%= link_to "<i class='fa fa-home'></i> Home".html_safe,system_index_path,:class => "list-group-item" %> 
          <%= link_to "<i class='fa fa-building-o'></i> Empresas".html_safe,companies_path,:class => "list-group-item" %>
          <%= link_to "<i class='fa fa-usd'></i> Emprestimos".html_safe,emprestimos_path,:class => "list-group-item" %>
        </ul>
      </div>
    </div>
    <div class="col-md-9">        
      <div class="pull-right">
        <%= link_to_function "Voltar", "history.back()" %>
      </div>
    